---
import Header from '../components/Header';
import Portada from '../components/Portada';
import Nosotros from '../components/Nosotros';
import Clientes from '../components/Clientes';
import Servicios from '../components/Servicios';
import Footer from '../components/Footer';
import Company from '../components/Company';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Portada/>
		<Nosotros/>
		<Servicios/>
		<Clientes/>
		<Company/>
		<Footer/>
	</main>
</Layout>

<style>
	
</style>
